/*This section down contains my header styles*/

header{
  display: flex;
  width: 90%;
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  color: #000;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
}

ul li {
  text-align: right;
  font-size: 20px;
  letter-spacing: 5px;
  list-style: none;

}

ul li a{
  text-decoration: none;

}

.ghlogo{
  height: 100px;
  width: 100px;
}

ul li: hover {
  background: #FFF;
}

ul.home li.home-nav {
  border: 3px solid #E4B2DB;

}

ul.about li.about-nav {
  border: 3px solid #E4B2DB;
}

ul.exhibit li.exhibit-nav {
  border: 3px solid #E4B2DB;
}

ul.visit li.visit-nav {
  border: 3px solid #E4B2DB;
}

ul.contact li.contact-nav {
  border: 3px solid #E4B2DB;
}

.home-nav {
color:#000;
margin-top: 50px;
}

.about-nav{
color:#000;
margin-top: 50px;
}

.exhibit-nav{
color:#000;
margin-top: 50px;
}

.visit-nav{
color:#000;
margin-top: 50px;
}

.contact-nav{
color:#000;
margin-top: 50px;
}


#menutoggle{
  display: none;
}

#pinkmenubox{
  transform: translateX(0);
}

/*This section down contains body styles*/


body {
  display:flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-size: .75em;
  color:#000;
}


#container{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background: #fff;
}

#exhibitimages img{
  margin-left: auto;
  margin-right: auto;

}


/*This section down is for the HOME page*/


#imagecontainer{
  background-color: #fff;
  width:800px;;
  height: 600px;
  position: relative;
}

.homeimage img{
  width:550px;
  height:350px;
  position: absolute;
  z-index: 2;
}

.homepink{

  display: flex;
  flex-direction: column;
  background-color:#EBD2DB;
  width: 500px;;
  height:300px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 10px;
  justify-content: flex-end;
  }

.homepink h2{
  margin: 0px;
  margin-left: 50px;
}
  .homepink p{
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 80px;
  }

.homewhite {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  background-color: #fff;

}
.homeabout{
  display: flex;
  flex-direction: column;
}
.homewhite h2{
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-left: 20px;
  margin-top: 25px;
}

.homewhite p{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 20px;

}

.homewhite img{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.homeblue{

  width: 100%;
  height: 200px;
  background-color: #65B1B7;

}
.homegreen{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  background-color: #BAD7C0;
}
.homegreen h1{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-left: 60px;
  font-size: 3em;
}

.homegreen p{
  margin-left: 75px;
  margin-top: 60px;
  margin-right: 40px;
}

.homewhite2{
  width: 100%;
  height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: row-reverse;
}

.homewhite2 p{
  padding: 30px;
}

/*This section down is on the ABOUT page*/

.aboutglass{
  align-content: center;
  background-image: url(images/glasshouse.jpg);
  width: 90%;
  height:500px;
  background-size:cover;
  background-repeat: no-repeat;
  font-size: 4em;
  color: #fff;
  text-align: left;
  letter-spacing: .5em;
}
.aboutglass p{
  position: relative;
  bottom: -300px;
  left: 40px;

}

.whitebox{
  align-items: center;
  display: flex;
  width: 90%;
  height:200px;
  background-size:cover;
  background-repeat: no-repeat;
}

.whitetitlebox{
  margin-left: 80px;
  font-size: 2.5em;
}

.stroke{
  display: flex;
  justify-content: center;
  border-left: 3px solid black;
  height: 150px;
  margin-left: 70px;
}
.whitetextbox{
  margin-left: 70px;
  margin-right: 70px;;
}

.pinkbox{
  background-color:#EBD2DB;
  width: 90%;
  height:321px;
  background-size:cover;
  background-repeat: no-repeat;
}

iframe{
  margin-left: 90px;
}


.greenbox{
  background-color: #BAD7C0;
  width: 90%;
  height:380px;
  background-size:cover;
  background-repeat: no-repeat;
}

.greenbox p{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.bluebox{
  background-color: #65B1B7;
  width: 90%;
  height:450px;
  background-size:cover;
  background-repeat: no-repeat;

}

/*This section down are images on the EXHIBIT page*/

.film{
  background-image: url(images/film.png);
  width: 100%;
  height:350px;
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  position: relative;
}

.floatingbox1{
  width:200px;
  height:200px;
  background-color: rgba(255,255,255,.75);
  position: absolute;
  left: 35%;
  top: 20%;
}

.floatingbox1 h2{
  text-align: center;
  margin-top: 45px;
  letter-spacing: 5px;
  line-height: 1.5;
  font-size: 2em;
}

.bodyart{
  background-image: url(images/bodyart.png);
  width: 100%;
  height:350px;
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  position: relative;
}

.floatingbox2{
  width:200px;
  height:200px;
  background-color: rgba(255,255,255,.75);
  position: absolute;
  left: 35%;
  top: 20%;
}

.floatingbox2 h2{
  text-align: center;
  margin-top: 45px;
  letter-spacing: 5px;
  line-height: 1.5;
  font-size: 2em;
}

.comfort{
  background-image: url(images/comfort.png);
  width: 100%;
  height:350px;
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  position: relative;
}

.floatingbox3{
  width:200px;
  height:200px;
  background-color: rgba(255,255,255,.75);
  position: absolute;
  left: 35%;
  top: 20%;
}

.floatingbox3 h2{
  text-align: center;
  margin-top: 45px;
  letter-spacing: 5px;
  line-height: 1.5;
  font-size: 2em;
}


.fluxus{
  background-image: url(images/fluxus.png);
  width: 100%;
  height:350px;
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  position: relative;
}

.floatingbox4{
  width:200px;
  height:200px;
  background-color: rgba(255,255,255,.75);
  position: absolute;
  left: 35%;
  top: 20%;
}

.floatingbox4 h2{
  text-align: center;
  margin-top: 45px;
  letter-spacing: 5px;
  line-height: 1.5;
  font-size: 2em;
}


/*This section contains FILM and PHOTO exhibit information*/

.aboutfilmgreen{
  background-color: #BAD7C0;
}
.aboutfilmgreen p{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.filmblue{
  display: flex;
  background-color: #65B1B7;

}
.filmblue h2{
margin-left: 30px;
margin-top: 20px;

}

.filmblue p{
margin-left: 30px;
margin-right: 20px;
}

.filmpink{
  background-color:#EBD2DB;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 250px;
}

.filmpink img{
  display: flex;
  flex-direction: row;
  align-content: flex-end;

}

.filmpink h2{
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-left: 20px;
  margin-top: 25px;
}

.filmname2{
  width: 90%;
}

.filmpink p{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 20px;
}

.filmgreen{
  display: flex;
  background-color: #BAD7C0;
}

.filmgreen h2{
margin-left: 30px;
margin-top: 20px;

}

.filmgreen p{
margin-left: 30px;
margin-right: 20px;
}

/*This section down contains text rotation divs*/
.aboutline{
  transform:rotate(90deg);
  position: fixed;
  top: 50%;
  left:-110px;
  font-size: 3em;
  color: #555B5C;
}

.exhibitline{
transform:rotate(90deg);
position: fixed;
top: 50%;
left:-110px;
font-size: 3em;
color: #555B5C;
}

.visitline{
  transform:rotate(90deg);
  position: fixed;
  top: 50%;
  left:-60px;
  font-size: 3em;
  color: #555B5C;
}

.contactline{
  transform:rotate(90deg);
  position: fixed;
  top: 50%;
  left:-150px;
  font-size: 3em;
  color: #555B5C;
}



footer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  height: 170px;
  background: #555B5C;
  color: #FFF;
}

footer p{
  position: relative;
  top: 30px;
  margin-left: 100px;
}

.footerinfo1{
  position: relative;
  margin-left: 400px;
  top: -80px;

}
.footerinfo2{
  position: relative;
  margin-left: 700px;
  top: -135px;
}
.socialmedia{
  position: relative;
  left: 1000px;
  bottom: 100px;
}


@media only screen and (max-width: 800px) {
    header ul {
      display: none;
    }
    #menutoggle{
      display: block;
      z-index: 1000;
      width: 200px;
      height: 200px;
    }
    #pinkmenubox{
      position: fixed;
      width: 50vw;
      height: 90vh;
      /*"vw, vh" >> viewport width and height*/
      background-color: #EBD2DB;
      right: 0
      z-index: 999;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      font-size: 2em;
      height: 90vh;
      padding-bottom: 25px;
    }

    #pinkmenubox a {
      padding: 15px;

    }
.open{
      transform: translateX(0);

    }
}
