body {
  font-family: 'Nunito', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 1px;
  background-color: #FFF;
}

#container {
  background-color: #aaa;
  width: 100%;
  height: 100vh;
  padding: 50px;
}

.bill {
  width: 33%;
  padding: 25px;
  background: linear-gradient(to right, #5ADCDD , #F6E1AE)

}


button, input[type="submit"], input[type="reset"] {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

#bill-amount:focus {
  background: #F6E1AE;
  border: 0px;
  transition: all ease 50ms;
  padding: 50px;
  color: #fff
}

.percentage {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 25px;

}

.tip-info {
  border-top: 1px solid #fff;
  width: 33%;
  background: linear-gradient(to right, #5ADCDD , #F6E1AE)

}

#total {

  padding: 25px;
  overflow-x: scroll;
  border-top: 1px solid #fff;
}

.total {
  border-top: 1px solid #fff;
  margin-top: 50px;
  width: 100%;
  height: 150px;
  background: linear-gradient(to right, #5ADCDD , #F6E1AE);
